/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

body {
  background-color: #191919;
  background-image: url(./assets/background_main_second_page.png);
  color: #A5F469;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

.main {
  background-image: url(./assets/background_main_page_short.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 30px 14px 0;
}

.logo {
  cursor: pointer;
}

.header_close {
  display: flex;
  justify-content: space-between;
}

.close_btn {
  background-image: url(./assets/close.svg);
  width: 15px;
  height: 15px;
}

/* GREETING */
.greeting {
  height: 80%;
  padding: 0 14px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting_subtitle_cont {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  padding: 0 0 10px 0;
}

.greeting_subtitle {
  font-size: 16px;
  font-weight: 300;
}

.greeting_title {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  line-height: 1.2;
  color: white;
  padding: 0 0 30px 0;
}

.greeting_title_span {
  color: #A5F469;
}

.open_form_btn {
  width: 100%;
  background-color: #A5F469;
  color: #2B293F;
  font-size: 16px;
  font-weight: 800;
  padding: 19px 0;
  text-align: center;
}

/* END GREETING */

.mouse_icon {
  display: block;
  margin: auto;
  padding-bottom: 40px;
}

/* TEXT CAROUSEL */
.text_carousel_cont {
  padding: 0 0 14px 0;
  overflow: hidden;
  white-space: nowrap;
}

.text_carousel {
  display: inline-block;
  font-size: 12px;
  animation: marquee 20s linear infinite;
}

.separator {
  padding: 0 10px;
}

/* END TEXT CAROUSEL */

/* ADVANTAGES */

.advantages {
  height: 100vh;
  background-image: url(./assets/background_main_second_page.png);
  margin: 0 14px;
}

.advantages_title {
  font-size: 24px;
  color: white;
  padding: 80px 0 0 42px;
  line-height: 1.2;
}

.card_image {
  text-align: center;
  margin: 0 auto;
}

.card_title {
  font-size: 32px;
  text-align: center;
  margin: 36px 0;
}

.card_paragraph {
  font-size: 14px;
  font-weight: 100;
  color: white;
  text-align: center;
  line-height: 1.3;
  padding: 0 14px;
}

/* SWIPER */

.swiper {
  position: relative;
}

.swiper-slide {
  background-color: #191919;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.swiper-pagination {
  margin-bottom: 40px;
}

.swiper-pagination-bullet {
  background-color: #ccc;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background-color: #8bc34a;
}

/* END SWIPER */
/* END ADVANTAGES */

/* FORM PAGE */
.form_page_outer_cont {
  display: none;
}

.form_page {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
}

.form_page_main {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding-top: 25px;
}

.form_page_title {
  font-size: 24px;
  font-weight: 800;
  color: white;
}

.form_page_description_cont {
  background-color: #A5F469;
  color: #2B293F;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 20px;
  border-radius: 13px;
  margin-bottom: -10px;
}

.form_page_description_cont:last-of-type {
  margin-bottom: 0;
}

.form_page_description_number {
  font-size: 20px;
  font-weight: 900;
}

.form_page_description {
  font-size: 14px;
  font-weight: 500;
}

.form_page_concordance {
  font-size: 12px;
  text-align: center;
  color: #CBCBCB;
  font-weight: 100;
  padding-bottom: 42px;
}

/* END FORM PAGE */

/* FORM */
.form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: .6px solid white;
  padding: 10px;
  color: white;
  font-size: 14px;
  transition: .3s ease;
}

.input_error {
  outline: .6px solid #cb3a3a;
}

.input:focus {
  outline: .6px solid #A5F469;
}

.input:placeholder {
  color: #707070;
}

.submit {
  background-color: #A5F469;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.submit_disabled {
  background-color: #afafaf;
  cursor: default;
}

/* END FORM */

/* SUCCESS PAGE */
.success_cont {
  display: none;
}

.success_cont_show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
  height: 80vh;
}

.success_icon {
  width: 89px;
  height: 63px;
  margin-bottom: 19px;
}

.success_title {
  font-size: 24px;
  font-weight: 800;
  color: white;
}

.success_text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

/* END SUCCESS PAGE */